   <li><a href="#">Global Screens</a>
        <ul>
            <li><a href="/new_vehicle_market">Buy Vehicles</a></li>
            <li><a href="/global/fuel_station">Fuel Info</a></li>
            <li><a href="/global/fleet_info">Fleet Info</a></li>
            <li><a href="/global/consumer_info">Player Info</a></li>
            <li><a href="/transaction">Transfer Funds</a></li>
            <li><a href="/global/scores">View Scores</a></li>

        </ul>

        <li><a href="#">Help</a>
        <ul>
            <li><a href="#"> Player Guides </a>
            <ul>
                <li><a href="/guide/consumer"> Consumer</a></li>
                <li><a href="/guide/vp">Vehicle Producer</a></li>
                <li><a href="/guide/fp"> Fuel Producer</a></li>

            </ul>
            </li>
            <li><a href="/global/help_videos">Video Guide</a> </li>
            <li><a href="/global/game_guide">Game Guide / FAQ</a></li>
            <li><a href="/global/glossary">Glossary</a></li>
        </ul>
        </li>

    <li><a href="/accounts/logout">Logout</a></li>
