{% extends "base.html" %}
        <head><title>Glossary</title></head>

{% block usernav %}
{% include user.nav_file %}
{% endblock %}

{% block content %}
<style type="text/css">
    .gloss{font-weight:bold}

</style>
<h1> Glossary</h1>

<h3>A</h3>


<h3>B</h3>
<p><span class="gloss"> Balance</span> - 1) The player's account balance; 2) the frugality descriptor attribute for the <a href="#consumer">consumer</a>
    player. High balance scores indicate a frugal consumer. </p>
<p>
<span class="gloss"><a name="BEV">BEV</a></span>
 - Battery Electric Vehicle - a vehicle driven solely by electricity stored onboard in a battery. <br>
</p>

<h3>C</h3>

<p><span class="gloss">
CAFE</span> - Corporate Average Fuel Economy - The fleet mpg a vehicle producer
    must reach in order to avoid a penalty fee. The penalty is based on the shortfall 
and the volume of sales of the vehicle producer.</p>
<p><span class="gloss"><a name="Consumer">Consumer</a></span> - A player who buys vehicles and fuels.</p>

<h3>D</h3>
<p><span class="gloss">
Diesel </span>- a fuel derived from crude oil and/or biomass.
<p><span class='gloss'>Distress Sale</span> - Vehicles sold off at a steep discount by the vehicle producer to clear
  inventory. Unsold vehicles are sold in this manner at the end of each turn into outside markets. </p>
<h3>F</h3>
    <p><span class='gloss'>Fleet</span> -
        A collection of vehicles. Each consumer in the game owns a 'fleet' of vehicles.
        Likewise the collection of all vehicles in Autopia is referred to as a 'fleet." </p>

<h3>H</h3>
<p><span class="gloss">H2 </span> - Hydrogen - abreviation for hydrogen. It can refer to hydrogen fuel or to a drivetrain that runs on hydrogen fuel.

</p>
<p><span class="gloss">
HEV </span>- Hybrid Electric Vehicle - A vehicle combining electric drive with another fuel type (i.e. gasoline, diesel, h2).<br>
    A HEV cannot be externally charged.
</p>
<p><span class="gloss">
HFCV </span>- Hydrogen Fuel Cell Vehicle - abreviation for hydrogen fuel cell vehicle
</p>

<h3>G</h3>
<p><span class="gloss">
Gasoline</span> - gas - a fuel derived from crude oil and/or biomass as ethanol.

<h3>M</h3>
<p><span class="gloss">
Margin
    </span>The percentage of gross revenue representing profit, e.g. a margin of 0.10 (10%) on
a sale of $100 would mean $10 of the gross revenue was profit and $90 were cost related.</p>
<h3>P</h3>
<p><span class="gloss">
Performance</span> - 1) an aggregate descriptor of the vehicle's power (i.e. hp), 2)
a measure of the vehicle's ability to do work using the physics definition of 'work' (W=F*d).
</p>
<p><span class="gloss">
PHEV</span> - Plug-in Hybrid Vehicle - a HEV with a large battery that can be externally charged. PHEVs combine a<br>
  a short range (up to 40 miles) BEV drivetrain with a gas, diesel or hydrogen drivetrain. They offer the<br>
  efficiency of a <a href="#BEV">BEV</a> with the option of conventional refueling.
</p>
<p><span class="gloss">
PHEV10</span> -Plug-in Hybrid Vehicle 10 - a PHEV with a 10 mile (estimated) battery only operation range.
</p>
<p><span class="gloss">
PHEV40</span> -Plug-in Hybrid Vehicle 40 - a PHEV with a 40 mile (estimated) battery only operation range.
</p>



<h3>R</h3>
<p><span class="gloss">Road Load</span> - The non-drivetrain related work of the vehicle. Includes electric load (e.g. lights, A/C), rolling efficiency
and aerodynamics.
</p>


<h3>S</h3>
<p><span class="gloss">Style</span> - an aggregate descriptor of the vehicle's presentation. It includes size, materials quality and the fit and
finish of the vehicle.
</p>
{% endblock %}