  <div id="short_pager2" class="pager" style="margin-top:20px;">
<form>
<input type="button" value="first" class="first"/>
<input type="button" value="prev." class="prev"/>
<input type="text" size="6" class="pagedisplay"/>
<input type="button" value="next" class="next"/>
<input type="button" value="last" class="last"/>

<select class="pagesize">
<option selected="selected"value="5">5</option>
<option value="10">10</option>
<option value="15">15</option>
<option value="20">20</option>
</select>
</form>
</div>