
<table id="drivetrain_info" style="font-weight:normal">
    <thead>
    <tr><th>Abbrev.</th><th>Name</th><th>Description</th></tr>
    </thead>

    <tbody>
    <tr><td>bev</td><td>Battery Electric Vehicle</td><td>Electric vehicle powered solely by batteries.</td></tr>
    <tr><td>diesel</td><td>Diesel</td><td>Standard diesel engine</td></tr>
    <tr><td>gas</td><td>Gas</td><td>Standard gasoline engine</td></tr>
    <tr><td>h2</td><td>Hydrogen Fuel Cell Vehicle</td><td>Hydrogen fueled vehicle with electric motor.</td></tr>
    <tr><td>hev</td><td>Hybrid Electric Vehicle</td><td>Standard hybrid (e.g. Prius).</td></tr>
    <tr><td>phev 10</td><td>Plugin Hybrid Electric Vehicle</td><td>Plugin hybrid with 10 mile battery range.</td></tr>
    <tr><td>phev 40</td><td>Plugin Hybrid Electric Vehicle</td><td>Plugin hybrid with 40 mile battery range.</td></tr>


    </tbody>



</table>
