   <li><a href="#">Global Screens</a>
        <ul>
            <li><a href="/new_vehicle_market">Buy Vehicles</a></li>
            <li><a href="/global/fuel_station">Fuel Info</a></li>
            <li><a href="/global/fleet_info">Fleet Info</a></li>
            <li><a href="/global/consumer_info">Consumer Info</a></li>

        </ul>

        <li><a href="#">Help</a>
       <ul>
            <li><a href="/guide/vp">Play Guide</a></li>
            <li><a href="/global/glossary">Glossary</a></li>
        </ul>
        </li>

    <li><a href="/accounts/logout">Logout</a></li>
