<ul id="navmenu-h">
    <li><a href="/home">{{ user.username|capfirst }} {{ year }}</a></li>
    <li><a href="#">Private Screens</a>
        <ul><li><a href="/home">Home</a></li>
            <li><a href="/vehicle/new_vehicle">Create Vehicle</a></li>
            <li><a href="/vehicle_sales">Transaction & Sales Records</a></li>
            <li><a href="/vp/vehicle_r_and_d">R & D Investment</a></li>
            <li><a href="{% url chat_log %}">Messaging</a></li>
            <!-- <li><a href="{% url app.views.rd_award %}">R & D Awards</a></li> -->
            <li><a href="/accounts/change_password/">Change Password</a></li>
        </ul></li>


    {%  include "global/global_nav.html" %}

 
</ul>

<br>
<br>